.captain-card {
    border: 2px solid #000000;
    display: flex;
    justify-content: space-between;
    max-width: 700px;
}

.captain-info {
    display: flex;
    flex-direction: column;
}

.captain-info:not(:last-child) {
    margin: 0 30px;
}