.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.9);
    z-index: 100;
}

.modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #000000;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.modal-close:hover {
    cursor: pointer;
}

.modal.open {
    display: flex;
}

.modal-card {
    max-height: 500px;
    position: relative;
    padding: 30px 50px;
    background-color: #fff;
}

.modal-card-name, .modal-card-classname {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.modal-numbers {
    max-width: 400px;
    display: flex;
    margin: 7px 0;
}

.modal-div {
    display: flex;
    flex-direction: column;
}

.modal-div:not(:last-child) {
    margin-right: 7px;
}

.modal-card-description, .modal-card-text {
    font-size: 15px;
}

.modal-card-text {
    max-width: 400px;
    text-align: center;
    font-style: italic;
}